# 1. Introduction a MongoDB

# Connexion à la base de données MongoDB

In [2]:
from pymongo import MongoClient

client = MongoClient()
db = client.metflix
movie_post= db.movie

print(db.list_collection_names())

['movie', 'users']


# récupérer des données en utilisant find_one

In [2]:
movie_post.find_one({"title" : "Rocky"})

In [3]:
items = movie_post.find({"title" : "Rocky"})

for item in items:
    print (item)

In [4]:
client.drop_database('metflix')

In [5]:
db = client.metflix
movie_post= db.movie

rocky = {"title":"Rocky", "year":1976}
movie_post.insert_one(rocky)
movie_post.find_one({"title" : "Rocky"})

{'_id': ObjectId('5ffc7f104436de9b9cb22dea'), 'title': 'Rocky', 'year': 1976}

# La Table Users

In [6]:
mon_dict = {"nom":"Ferreira", "prenom":"Thomas"}
db = client.metflix
user_post = db.users

try:
    user_post.insert_one(mon_dict)
    
except:
    print("error")

In [7]:
items = user_post.find({"nom":"Ferreira"})

for item in items:
    print (item)

{'_id': ObjectId('5ffc7f104436de9b9cb22deb'), 'nom': 'Ferreira', 'prenom': 'Thomas'}

In [8]:
try:
    user_post.insert_one(mon_dict)
    
except:
    print("error")

error

On a une erreur si on veut insérer le meme dictionnaire de données.
L'id soit etre unique pour chaque dictionnaire de données il faudrait donc en recréer un autre

#   insertMany()

In [3]:
movie_post.drop()

la table movie est vide je ne sais pas comment tester

In [4]:
movie_post= db.movie

movie_List =[{"title" : "Rocky", "year" : 1976, "_id" : "tt0075148"},
            {"title" : "Jaws", "year" : 1975, "_id" : "tt0073195"},
            {"title" : "Mad Max 2 : The Road Warrior", "year" : 1981, "_id" : "tt0082694"},
            {"title" : "Raiders of the Lost Ark", "year" : 1981, "_id" : "tt0082971"}]

try:
    movie_post.insert_many(movie_List)
    print("success")

except:
    print("error")

success

# find avec des paramètres

In [5]:
items = movie_post.find()

for item in items:
    print (item)

{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}
{'_id': 'tt0073195', 'title': 'Jaws', 'year': 1975}
{'_id': 'tt0082694', 'title': 'Mad Max 2 : The Road Warrior', 'year': 1981}
{'_id': 'tt0082971', 'title': 'Raiders of the Lost Ark', 'year': 1981}

In [9]:
items = movie_post.find()
for i in range(0,1):
    print (item)

{'_id': 'tt0082971', 'title': 'Raiders of the Lost Ark', 'year': 1981}